body {
  min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
  height: 65px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.navbar .logo img {
  max-width: 70px;
}

.left-navbar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left-navbar .icon,
.right-navbar .google-apps-icon,
.right-navbar .plus-icon {
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.left-navbar .icon:hover,
.right-navbar .google-apps-icon:hover,
.right-navbar .plus-icon:hover,
.right-navbar .profile-pic:hover {
  transition: all 0.2s;
  background-color: #cccccc2f;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.left-navbar .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left-navbar .logo span {
  font-size: 1.25rem;
  color: #5f6368;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
}

.right-navbar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-navbar .create-class button,
.right-navbar .join-class button {
  padding: 8px 10px;
  color: #1a73e8;
  font-size: 0.875rem;
  border-radius: 3px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.right-navbar .create-class button,
.right-navbar .join-class button {
  padding: 8px 10px;
  color: #1a73e8;
  font-size: 0.875rem;
  border-radius: 3px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.right-navbar .create-class.hide,
.right-navbar .join-class.hide {
  display: none;
}

.right-navbar .create-class button,
.right-navbar .join-class button {
  padding: 8px 10px;
  color: #1a73e8;
  font-size: 0.875rem;
  border-radius: 3px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.right-navbar .nav-profile-pic {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.right-navbar .nav-profile-pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.arrow-icon {
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 5px 15px 0;
}

.arrow-icon img {
  width: 50px;
  margin-right: 25px;
}

.arrow-icon p {
  width: fit-content;
  margin-left: auto;
  text-align: center;
  font-weight: 500;
  color: #5f6368;
  font-size: 0.875rem;
}

/* Empty Space Section */

.empty-space-section {
  text-align: center;
}

.empty-space-section img {
  width: 200px;
  margin-bottom: 30px;
}

.empty-space-section .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}
.empty-space-section .buttons button:first-child,
.empty-space-section .buttons button:last-child {
  border: none;
  font-size: 0.9375rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.empty-space-section .buttons button:first-child {
  background-color: transparent;
  color: #1a73e8;
  padding: 10px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.empty-space-section .buttons button:first-child:hover {
  background-color: #1a73e813;
}
.empty-space-section .buttons button:last-child {
  background-color: #1a73e8;
  color: white;
  padding: 10px 22px;
}

/* Classrooms */

.classrooms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 25px;
}

.top-classrooms {
  display: flex;
  gap: 40px;
  font-weight: semibold;
}

.top-classrooms > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #3785eb;
  cursor: pointer;
}
.top-classrooms > div:hover {
  background-color: #3785eb17;
}

.bottom-classrooms {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.bottom-classrooms .class {
  width: 18.75rem;
  height: 18.125rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc;
}
.bottom-classrooms .class:hover {
  box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.6);
}

.class .assignments,
.class .top-class {
  padding: 15px;
}

.class .top-class {
  height: 100px;
}

.class .assignments {
  height: 130px;
}

.class .top-class {
  background-image: url("https://plus.unsplash.com/premium_photo-1673697239936-c2599b0b0498?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.class .top-class > *:hover {
  text-decoration: underline;
}

.class .bottom-class {
  padding: 5px;
}

.class .top-class {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  color: white;
}

.class .class-title i {
  cursor: pointer;
}

.class .top-class > p {
  font-size: 0.75rem;
}

.class .top-class .class-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-title p {
  font-size: 1.125rem;
}

.class .assignments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.assignments .assignment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.assignments .assignment:first-child {
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}

.assignments .assignment .due-date {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #868686;
}
.assignments .assignment p:last-child {
  font-size: 0.875rem;
  color: #676767;
}

.class .bottom-class {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}

.class .bottom-class div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.class .bottom-class div:hover {
  background-color: #cccccc33;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -40%;
  right: 15px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sidebar */

.sidebar {
  height: 100vh;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 4px 0 13px 0 rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 4px 0 13px 0 rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 4px 0 13px 0 rgba(0, 0, 0, 0.18);
  transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
}

.sidebar.hide {
  left: -300px;
}

.bottom-sidebar,
.middle-sidebar,
.top-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.middle-sidebar {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bottom-sidebar div,
.middle-sidebar .classes .class,
.middle-sidebar .to-do,
.top-sidebar div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 0 20px 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.middle-sidebar .classes .class {
  padding: 12px 0 12px 20px;
}
.bottom-sidebar div:hover,
.middle-sidebar .classes .class:hover,
.middle-sidebar .to-do:hover,
.top-sidebar div:hover {
  background-color: #cccccc25;
}

.bottom-sidebar i,
.middle-sidebar .to-do i,
.top-sidebar i {
  padding: 10px;
}

.middle-sidebar > p {
  padding: 12px 0 12px 20px;
}
.middle-sidebar .class > div:first-child {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.middle-sidebar .class .class-data {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.middle-sidebar .class-data .class-name {
  font-size: 0.875rem;
}

.middle-sidebar .class-data .class-desc {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 210px;
  /* padding-right: 5px; */
}

/* MODAL */

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.459);
}

.modal-box {
  background-color: white;
  padding: 20px 20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-box .modal-header {
  font-weight: 500;
}

.modal-box .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-box .inputs input {
  width: 100%;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #5f6368;
  background-color: #cccccc54;
  font-size: 1rem;
}

.modal-box .inputs input:focus {
  border-bottom: 2px solid blue;
}

.modal-box .inputs input::placeholder {
  font-size: 1rem;
}

.modal-box .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.modal-box .buttons button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.modal-box .buttons button:hover {
  background-color: #cccccc3a;
}

.modal-box .buttons .create-button button {
  color: #1c74e8;
}

.modal.hide {
  display: none;
}

/* MODAL */

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.459);
}

.modal-box {
  background-color: white;
  padding: 20px 20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-box .modal-header {
  font-weight: 500;
}

.modal-box .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-box .inputs input {
  width: 100%;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #5f6368;
  background-color: #cccccc54;
  font-size: 1rem;
}

.modal-box .inputs input:focus {
  border-bottom: 2px solid blue;
}

.modal-box .inputs input::placeholder {
  font-size: 1rem;
}

.modal-box .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.modal-box .buttons button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.modal-box .buttons button:hover {
  background-color: #cccccc3a;
}

.modal-box .buttons .create-button button {
  color: #1c74e8;
}

.modal.hide {
  display: none;
}
